.cards-wrapper {
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 6px;

  .item-wrapper {
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    .picture {
      width: 236px;
      height: auto;
      border-radius: 16px;
      position: relative;
      cursor: zoom-in;
    }

    .card-details {
      display: flex;
      padding: 8px 6px 16px;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .card-description__text {
        font-size: 14px;
      }
    }
  }

  .picture-wrapper{
    position: relative;
  }

  .button-wrapper {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 16px;
  }

  .button-wrapper:hover {
    opacity: 1;
    background: rgba(0,0,0,.4);
  }

  .button-showd {
    position: relative;
    height: 100%;

    .button-save {
      z-index: 1;
      border-radius: 20px;
      background-color: #e60023;
      color: #ffffff;
      font-size: 17px;
      font-weight: 500;
      padding: 10px 16px;
      cursor: pointer;
      position: absolute;
      left: 115px;
      top: 10px;
    }

    .button-save:hover {
      background-color: #970000;
    }

    .popup {
      background-color: #e0dfdf;
      border-radius: 50%;
      color: #000;
      font-size: 5px;
      font-weight: 700;
      line-height: 0;
      padding: 10px 11px;
      cursor: pointer;
      position: absolute;
      left:200px;
      bottom: 10px;

      &:hover {
        background-color: #ffffff;
      }

      .popur.open ul {
        display: block;
      }
    }
  }
}